$template: #155799;
$white: white;
$whiteWashy: #d0d0d0;
$header: #426ee4;
$headerHover: #426ee4;
$text: #212121;
$green: #6DB935;
$lightgreen: #103e6b;
$brightblue: #426ee4;
$lightwhite: #e5ebfa;