$white: white;
$blackLight: #2962ff;
$btn: #607d8b;
$btnHover: #3d5afe;
$btnAdmin: #0039cb;
$btnAdminHover: #3d5afe;
$sliderBg: white;
$articlesBg: white;
$footerBg: #1b1b1b;

$grey: #484848;
$blackgrey: #212121;
$black: #000000;
